@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.light-blue-text {
  color: #61dbfb;
}

.fredoka-font {
  font-family: 'Fredoka One', cursive;
}

.down-arrow {
  border-right: 5px solid;
  border-bottom: 5px solid;
  border-color: aliceblue;
  height: 40px;
  width: 40px;
  transform: rotate(45deg);
}

.glowing-shadow {
  box-shadow: 0px 0px 20px 5px rgba(223, 226, 252, 0.75);
  -webkit-box-shadow: 0px 0px 20px 5px rgba(223, 226, 252, 0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(223, 226, 252, 0.75);
}

.hover-glowing-shadow-and-scale {
  box-shadow: 0px 0px 5px 5px rgba(223, 226, 252, 0.75);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(223, 226, 252, 0.75);
  -moz-box-shadow: 0px 0px 5px 5px rgba(223, 226, 252, 0.75);
}

.hover-glowing-shadow-and-scale:hover {
  box-shadow: 0px 0px 20px 5px rgba(223, 226, 252, 0.75);
  -webkit-box-shadow: 0px 0px 20px 5px rgba(223, 226, 252, 0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(223, 226, 252, 0.75);
  transform: scale(1.1);
}

.hover-glowing-shadow-and-scale:active {
  box-shadow: 0px 0px 20px 15px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 20px 15px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 20px 15px rgba(255, 255, 255, 0.75);
  transform: scale(0.9);
}
